/home/mersadcam/Documents/Learning/Computer/university/DB/project/db_linkedin_uni/Main project/profile/__pycache__/
/home/mersadcam/Documents/Learning/Computer/university/DB/project/db_linkedin_uni/Main project/venv
